* {
    margin: 0;
    padding:0;
}

body {
    background-image: url("../images/notebook-2.jpg");
    height:100vh;
    max-width: 100%;
    display:flex;
    font-family: 'Times New Roman', Times, serif;
}

img {
    background-position: 10% 10%;
    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 1.75rem;
    font-size: 1.88rem;

}

ul p {
    text-align: center;
}


.main-container {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-main-list {
    background-color: white;
    min-width: 26vw;
    max-width: 39vw;
    border-radius: 10px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    overflow:hidden;
   

}

.main-header {
    padding:2rem;
    
   
}

.main-header h1 {
    color: red;
    text-align: center;
}

.instructions-head {
    text-align: center;
    color: red;
}



.main-list {
    padding: 2rem;
    overflow-y: scroll;
    flex-grow: 1;
}

.main-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    
}



.main-list ul li i {
    cursor: pointer;
    color: red;
    padding: 1rem;
}

.delete {
    cursor: pointer;

}

.add-item {
    display: flex;
    padding: 2rem;
    align-items: left;
   
}

.add-item input {
    border: 1px solid;
    border-bottom-left-radius: 5px;
    border-top-left-radius:5px;
    outline: none;
    font-size:1.563rem;
    width: 100%;
    
    
    
}

.add-item button {
    border-bottom-right-radius: 0.313rem;
    border-top-right-radius:0.313rem;
    background-color: red;
    cursor: pointer;
    padding: 1rem;
    border: none;
    outline: none;
}


.footer-social {
    display: grid;
    grid-auto-flow: column;
    gap: 3.75rem;
    align-items: center;
    justify-items:center;
    margin-top: 3.25rem;
}

.footer-social i {
    font-size: 30px;
    color:black
}

.my-instructions-list {
    background-color: white;
    min-width: 26vw;
    max-width: 25vw;
    border-radius: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow:hidden;
   

}

.instructions-head {
    margin-top: 15px;
    text-align: centergit;
}

.instructions-font {
    font-weight: 700;
    padding-top: 30px;
}

.footer-instructions {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items:center;
    

}

