

 html, body {
    width: 100;
    font-family: 'Times New Roman', Times, serif;
    margin: 0, auto;
}

h1 {
    text-align: center;
}



.list-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
    

    
}

#list-input-field {
    width: 300px;
    height: 46px;
    border: 1px, solid, black;
    font-size: 25px;
    outline: none;
    
    
}

#add-to-list {
    width: 50px;
    height: 50px;
    border: 1px, solid, black;
    font-size: 30px;
   
    

    
    
    
}

.my-to-dos {
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;

    

}

.paragraph-styles {
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}