* {
    margin: 0;
    padding:0;
}

body {
    height:100vh;
    width: 100%;
    display:flex;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: beige;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-to-do-list {
    background-color: white;
    min-width: 400px;
    max-width: 600px;
    border-radius: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px, 0px, 20px, white;

}

.main-header {
    padding:2em;
}

.main-header h1 {
    color: brown;
    text-align: center;
}

.main-list {
    padding: 2rem;
    overflow-y: scroll;
    flex-grow: 1;
}

.main-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.main-list ul li i {
    cursor: pointer;
    color: red;
    padding: 1rem;
}

.delete {
    cursor: pointer;

}

.add-item {
    display: flex;
    padding: 2rem;
   
}

.add-item input {
    border: 1px, solid, white;
    border-bottom-left-radius: 5px;
    border-top-left-radius:5px;
    flex-grow: 1;
    outline: none;
    font-size:1.563rem;
    
}

.add-item button {
    border-bottom-right-radius: 0.313rem;
    border-top-right-radius:0.313rem;
    background-color: red;
    cursor: pointer;
    padding: 1rem;
    border: none;
    outline: none;
}

